@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Global setUp */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

body {
  padding-top: 5rem;
  background-color: #fffdf3;
}

section {
  scroll-margin-top: 5rem;
}

/* navigation bar */
nav {
  top: 0;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 5rem;
  z-index: 9999;
  width: 100%;
  height: 5rem;
  position: fixed;
  border-bottom: solid 1px rgba(0, 0, 0, 0.15);
}

.navbar-home {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

nav #category {
  color: rgba(0, 0, 0, 0.5);
}

/* Section - Introduction */
#container-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 4rem;
}

.intro-content {
  background-image: url(assets/background-home-intro.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.9);
  background-blend-mode: multiply;
  border-radius: 10px;
  padding: 3rem;
  color: #ffffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.intro-content h1 {
  font-size: 3rem;
}

.intro-content p {
  font-size: 1rem;
  padding: 0 4rem;
}

.intro-content a {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  background-color: #3ecf4c;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  transition: all 0.2s ease-in-out;
}

.intro-content a:hover {
  color: rgba(0, 0, 0, 0.9);
  border: solid 1px #3ecf4c;
}

/* section - list video */
#container-video-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 4rem;
  gap: 1.5rem;
}

.heading-video-list {
  display: inline-block;
}

.heading-video-list h1 {
  font-size: 2rem;
}

.heading-video-list p {
  font-size: 1rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
}

.menu ul {
  display: flex;
  list-style: none;
  gap: 2rem;
  padding: 0.5rem 0;
}

.menu ul li a {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.5);
  padding-bottom: 0.5rem;
  border-bottom: 3px solid transparent;
  transition: all 0.25s ease-in;
}

.menu a:hover {
  color: #f64920;
  border-bottom-color: #f64920;
}

/* Card Videos */
.list-video-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.video-card {
  background-color: #ffffff;
  border: solid 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 1rem;
  gap: 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  cursor: pointer;
  transition: all 0.2s ease;
}

.video-card:hover {
  border: solid 2px #ffbd3a;
  transform: scale(1.025);
}

.box-img-card {
  width: 100%;
  height: 8rem;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.video-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-card h1 {
  font-size: 1.25rem;
  text-align: left;
}

.video-info {
  font-size: 1rem;
  font-weight: 500;
  text-align: left;
  color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.mentor-profile img {
  width: 3rem;
  height: 3rem;
}

.mentor-profile {
  display: flex;
  gap: 1rem;
}

.mentor-name p {
  color: rgba(0, 0, 0, 0.5);
}

.mentor-name p span {
  font-weight: 700;
}

.rating-and-cost {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rating {
  color: #ffbd3a;
  font-size: 1rem;
}

.rating span {
  color: rgba(0, 0, 0, 0.5);
}

.cost-course {
  color: #3ecf4c;
  font-size: 1.5rem;
  font-weight: 700;
}
