@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Global setUp */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  background-color: #fffdf3;
  font-family: "Poppins", sans-serif;
}

body {
  padding-top: 5rem;
}

section {
  min-height: 100dvh;
  scroll-margin-top: 5rem;
}

/* navigation bar */
nav {
  top: 0;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 5rem;
  z-index: 9999;
  width: 100%;
  height: 5rem;
  position: fixed;
  border-bottom: solid 1px rgba(0, 0, 0, 0.15);
}

/* Register Form */
form {
  display: flex;
  flex-direction: column;
  margin: 5rem 20rem;
  border: solid 1px rgba(0, 0, 0, 0.15);
  border-radius: 0.5rem;
  padding: 2rem 4rem;
}

.form-title {
  display: inline-block;
  justify-content: center;
  text-align: center;
}

.form-title h1 {
  color: #222325;
  font-size: 3rem;
  font-weight: 600;
}

.form-title p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
  font-weight: 600;
}

label {
  display: flex;
  color: rgba(0, 0, 0, 0.75);
  font-size: 1.25rem;
}

label span {
  color: #ff5c2b;
}

input {
  color: rgba(0, 0, 0, 1);
  width: 100%;
  padding: 0.75rem;
  border-color: rgba(0, 0, 0, 0.15);
  border-radius: 0.5rem;
}

.country-phone {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.country-code {
  display: flex;
  align-items: center;
  gap: 1rem;
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  cursor: pointer;
}

/* styling eye-icon into input field */
.password-field {
  position: relative;
  width: 100%;
}

.password-field input {
  padding-right: 2rem;
  width: 100%;
}

.password-field i {
  cursor: pointer;
  right: 1rem;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  color: rgba(0, 0, 0, 0.5);
}

.forget-password {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  justify-content: right;
}

.register-login-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  gap: 1rem;
}

#button-sign-up {
  width: 100%;
  color: #ffffff;
  background-color: #3ecf4c;
  padding: 0.75rem;
  font-size: 1.25rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

#button-login {
  width: 100%;
  color: #3ecf4c;
  background-color: #e2fcd9;
  padding: 0.75rem;
  font-size: 1.25rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.google-icon img {
  width: 1rem;
  height: 1rem;
}

#button-sso-google {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  color: #222325;
  padding: 0.75rem;
  font-size: 1.25rem;
  border: solid 1px rgba(0, 0, 0, 0.15);
  border-radius: 0.5rem;
  cursor: pointer;
}
